@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-button-gradient: linear-gradient(45deg, #fe3072, #ff5940);
$background-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    border: none;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    background: $primary-button-gradient;
    padding: 1.2em 1.7em;
    border-radius: 2em;
    margin-bottom: 0.3em;
    font-weight: 500;
    letter-spacing: 0.03em;

    &:hover {
        cursor: pointer;
        background: linear-gradient(260deg, #fe3072, #ff5940);
    }

}

body {
    text-align: center;
}

// nav


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo-container {
        width: 170px;
        margin: 15px;

    }

    .nav-button {
        color: #fe3072;
        background-color: white;
        font-size: 1em;
        font-weight: 600;
        height: fit-content;
        padding: 0.6em 1em;
        border-radius: 0.8em;
        margin: 10px;

  

        &:hover {
            cursor: pointer; 
        }

        &:disabled {
            background-color: rgb(181, 180, 180);
            color: rgb(160, 38, 75);
            cursor: default;
        }
    }
}

// ---- homepage

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $background-gradient, url('../images/background.webp');
    display: flex;
    flex-direction: column;
}

.primary-title {
    font-size: 4em;
    font-weight: 700;
    color: white;
    margin: 0.3em 0;
}

// auth-modal

.auth-modal-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;

    .auth-modal {
        max-width: 360px;
        height: 600px;
        background-color: white;
        border-radius: 10px;
        padding: 40px;
        display: flex;
        flex-direction: column;

        p {
            order: 1;
            font-size: 0.5em;
        }

        hr {
            order: 0;
            margin: 1em 0;
        }

        .close-icon {
            width: fit-content;
            align-self: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
}


// auth modal form

.register-form {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-size: 0.9em;

    input {
        width: 200px;
        padding: 10px;
        border-radius: 0.8em;
        border: none;
        align-self: center;
        border: solid 1px rgb(219, 219, 219);

        &:focus {
            outline: solid 1.5px rgb(219, 219, 219);
        }
    }


    .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        position: relative;

        .error-message {
            position: absolute;
            bottom: -1.3em;
            right: 0;
            color: red;
            font-size: 0.7em;
        }
    }


}

.secondary-button {
    align-self: center;
    margin-top: 1.5em;
    color: rgb(121, 119, 119);
    background-color: white;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121, 119, 119);

    &:hover {
        cursor: pointer;
        background-color: rgb(121, 119, 119);
        color: white;
    }
}

// on boarding form

.onboarding {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    h2 {
        font-style: italic;
    }
}

.onboarding-form {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    button {
        align-self: center;
        padding: 15px 30px;
        border: solid 2px rgb(219, 219, 219);
        border-radius: 10px;
        background-color: white;
        color: rgb(121, 119, 119);
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            background-color: rgb(121, 119, 119);
            color: white;
        }

    }

    .form-content {
        display: flex;
        gap: 0.3em;
        width: 800px;

        .left-side-form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.3em;
            width: 400px;

            input, select, textarea {
                width: 300px;
                padding: 10px 15px;
                margin: 10px 0;
                font-size: 15px;
                border: solid 2px rgb(219, 219, 219);
                border-radius: 10px;
                appearance: none;
                }

            textarea {
                resize: none;
                overflow-y: auto;
                height: 100px;
            }

        }
        .input-wrapper {
            display: flex;
            gap: 0.3em;
            position: relative;

            .error-message {
                color: red;
                font-size: 0.7em;
                align-self: center;
            }
        }

        .photo-section {
            flex-grow: 1;
            align-items: flex-end;

            input {
                width: 300px;
                padding: 10px 15px;
                margin: 10px 0;
                font-size: 15px;
                border: solid 2px rgb(219, 219, 219);
                border-radius: 10px;
                appearance: none;
            }

            .photo-container {
                height: 350px;
                width: 350px;
                border-radius: 10px;
                border: solid 2px rgb(219, 219, 219);

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            
        }
    }


}

// dashboard

.dashboard {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    overflow-y: hidden;

    h2 {
     color: #fff;
    }

    .swipe-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow-x: hidden;

    }

    .swipe {
        position: absolute;
    }

    .card-container {
     width: 400px;
     height: 650px;
     position: relative;
    }

    .card {
     width: 400px;
     height: 650px;
     border-radius: 30px;
     background-size: cover;
     background-position: center;
     box-shadow: 0 0 20px rgba(118, 118, 118, 0.2);
    }

    .card-info-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        color: black;
        background-color: #fff;
        border-radius: 0 0 1em 1em;
        border-top: solid 1px rgb(219, 219, 219);
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 1.4em;
            font-weight: 800;
            align-self: flex-start;
        }

        p.location {
            font-size: 0.7em;
            font-weight: 600;
            align-self: flex-start;
        }

        p.about {
            font-size: 1em;
            font-weight: 500;
            align-self: flex-start;
        }
    }

    .card h3 {
      margin-top: 0;
    }

    .swipe-info {
        left: 20%;
        position: absolute;
        top: 700px;
        padding: 10px;
        h2 {
            color: black;
        }
    }

}


// chat container

.chat-container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 30%;
    text-align: left;
    z-index: 1;

    .matches-chat-buttons {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        display: flex;
        gap: 1em;
        justify-content: space-around;

            button:not(:disabled):hover  {
                cursor: pointer;
            }
        }



    .chat-container-header {
        background: $primary-button-gradient;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,;
    }

    button.option {
        border: none;
        background-color: white;
        border-bottom: solid 4px #fe3072;
        font-size: 1.4em;
        // margin: 2px;
        padding: 10px;
        font-weight: 600;

    }

    button.option:disabled {
        border-bottom: solid 4px rgb(187, 187, 187);
    }

    .action-buttons {
        display: flex;
    }

    .profile, i.log-out-icon, i.delete-account-icon, i.edit-account-info {
        display: flex;
        align-items: center;
        padding: 20px;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }


    .img-container {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        overflow: hidden;
        margin: 10px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

// chat display

.chat-display {
    padding: 20px;
    height: 60vh;
    overflow-y: auto;

    .chat-message-container{
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        padding: 10px;
        margin-bottom: 0.3em;
        border-radius: 10px;
        background-color: rgb(245, 245, 245);
        width: 90%;

        .chat-message {
            display: flex;
            flex-direction: column;
            gap: 0.3em;
        }

        .name-and-icon {
            display: flex;
            width: 80%;
            justify-content: space-between;
            align-items: center;

            .delete-message-icon {
                color: rgb(187, 187, 187);
        
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .chat-message-header {
        display: flex;
        
        .chat-name {
            font-weight: 600;
            align-self: center;
        }


    }
}
.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;

    textarea {
        height: 100px;
        border-radius: 10px;
        border: solid 1px rgb(219, 219, 219);
        padding: 10px;
        resize: none;
        overflow-y: auto;
    }
}


// chat-container

.chat-container {
    display: flex;
    flex-direction: column;

    .matches-display {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.3em;

        .match-card {
            height: 175px;
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .img-container {
                height: 100%;
                width: 100%;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            p {
                font-size: 0.8em;
                font-weight: 600;
            }
        }
    }
}
