@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-button-gradient: linear-gradient(45deg, #fe3072, #ff5940);
$background-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    border: none;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    background: $primary-button-gradient;
    padding: 1.2em 1.7em;
    border-radius: 2em;

    &:hover {
        cursor: pointer;
        background: linear-gradient(260deg, #fe3072, #ff5940);
    }

}

body {
    text-align: center;
}

// nav


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo-container {
        width: 170px;
        margin: 15px;

        .logo {
            width: 100%;
            height: auto;
        }
    }

    .nav-button {
        color: #fe3072;
        background-color: white;
        font-size: 1.5em;
        padding: 0.8em 1.2em;
        border-radius: 0.8em;
        margin: 10px;

        &:disabled {
            background-color: rgb(181, 180, 180);
            color: rgb(160, 38, 75);
        }
    }
}

// ----

// 

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $background-gradient;
}

// auth-modal

.auth-modal-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;

    .auth-modal {
        max-width: 360px;
        height: 600px;
        background-color: white;
        border-radius: 10px;
        padding: 40px;
    }
}


